<br />
<br />
<table>
  <thead>
    <tr>
      <td>
        <img src="/avatar.png" alt="Avatar" id="avatar" />
      </td>
      <td>
        <h3>Translation Example</h3>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2">
        <div>
          <h6>A basic translation example using unofficial google api</h6>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <a href="https://github.com/rod-cavero" target="_blank">Rodrigo Cavero GitHub</a>
        </div>

      </td>
      <td>
        <div>
          <a href="mailto:rod.cavero@gmail.com">Send mail to Rodrigo Cavero</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
